@font-face {
    font-family: "Roboto";
    src: url("font/Inria_Sans.zip");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
    background-color: #000000;
    color: #f4f4f4;
}

.banner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 110px;
    background-color: #1a1a1a;
    border-bottom: 1px solid #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
    z-index: 1000;
    font-weight: 300;
}

.banner-content {
    width: 90%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation a {
    margin: 0 20px;
    color: #f0e6d2; 
    text-decoration: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: color 0.3s ease, font-weight 0.3s ease;
}

.navigation a:hover {
    color: #e3c28d;
    font-weight: 500;
}

.options a {
    margin-left: 20px;
    color: #f0e6d2;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease, transform 0.3s ease;
}

.options .icon {
    font-size: 1.2em;
    display: inline-block;
}

.options a:hover {
    color: #e3c28d;
    transform: scale(1.1);
}

.banner.shrink {
    height: 70px;
    background-color: #222222;
    border-bottom: 1px solid #444444;
}

.banner.shrink .navigation a {
    font-size: 0.9em;
    margin: 0 15px;
}

.banner.shrink .options a {
    font-size: 0.9em;
}

.banner.shrink .icon {
    font-size: 1em;
}

h1 {
    color: #583535;
    margin-top: 20rem;
    font-family: didot, serif;
   -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    position: absolute; 
    font-size: 100px;
    left: 41%;
    top: -0px;
    right: 20px;
    transform: translate(-20%, -50%);
    width: 500px;
}

.image {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px; 
    height: 300px;
    border-radius: 300px;
    background-color: #673f3f; 
}

.bague {
    position: absolute;
    top: 1000px;
    left:100px
}

.montre{
    position: absolute;
    top: 600px;
    left: 800px;
}


.bubble {
    margin: 50px auto;
    max-width: 400px;
    padding: 30px;
    background: linear-gradient(145deg, #2b2b2b, #404040);
    border-radius: 15px; 
    text-align: center;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: absolute;
    top: 600px;
    left: 200px;
}

.bubble-content h2 {
    font-size: 1.8em;
    color: #e6c07b;
    margin: 0 0 15px;
}

.bubble-content p {
    font-size: 1em;
    margin: 10px 0;
    line-height: 1.5;
    color: #c0c0c0;
}

.bubble-content .cta {
    font-size: 1.2em;
    font-weight: bold;
    margin: 15px 0;
    color: #e6c07b; 
}

#appointment-btn {
    margin-top: 15px;
    padding: 12px 25px;
    background-color: #e6c07b; 
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s ease, transform 0.3s ease;
}

#appointment-btn:hover {
    background-color: #d1a863;
    transform: scale(1.2); 
}


.bubble.hidden {
    transform: translateY(50px);
    opacity: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    top:1100px;
    left: 100px ;
  }
  
  .jewel-container {
    position: relative;
    max-width: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(52, 52, 52, 0.5);
    
  }
  
  .jewel-image {
    width: 100%;
    border-radius: 15px;
    transition: transform 0.3s ease;
  }
  
  
  .description {
    padding: 20px;
    background-color: rgba(32, 31, 31, 0.7);
    border-radius: 0 0 1500px 15px;
    position: relative;
    height: 300px;

  }
  
  .title {
    font-size: 3rem;
    color: #928b5f; /* Or */
    margin-bottom: 100px;
    position: relative;
    left: 100px;
    top: -320px;
    height: 0px;
  }
  
  .subtitle {
    font-size: 1.2rem;
    color: #D3D3D3;
    margin-bottom: 10px;
    position: relative;
    height: -30px;
    top: -300px;

  }
  
  .price {
    font-size: 1.5rem;
    color: #d5bacf;
    margin-bottom: 10px;
    position: relative;
    top:-300px
  }
  
  .details {
    font-size: 1rem;
    color: #D3D3D3;
    margin-bottom: 20px;
    position: relative;
    top:-300px;
  }
  
  .discover-btn {
    background-color: #d5bacf;
    color: #1e1d1d;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
    top: -230px;
  }
  
  .discover-btn:hover {
    background-color: #fb73dd;
  }
  
  /* Section extra info */
  .extra-info {
    display: none;
    background-color: #1e1d1d;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
    position: relative;
    top: 300px;
    right: 200px;
  }
  
  .close-btn {
    background-color: #FF4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .close-btn:hover {
    background-color: #ffffff;
  }
  
  .container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:90%;
    position: absolute;
    top: 1900px;
    left: 80px;
    background-color: #000000;
    transition: opacity 1s ease, transform 0.3s ease;
  }

  .container2.hidden {
    transform: translateY(50px);
    opacity: 0;
}
  
  .eclat-intelligence {
    background-color: rgba(109, 107, 107, 0.615); 
    border-radius: 15px;
    padding: 44px;
    max-width: 1400px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.8);
    
}
  
  .title2 {
    font-size: 3rem;
    color: #ef9797; 
    margin-bottom: 15px;
  }
  
  .intro-text {
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  
  .chat-btn {
    background-color: #8e6060;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    padding: 12px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: all 0.3s ease;
    position: relative;
    left: 490px;
  }
  
  .chat-btn:hover {
    background-color: #b17a7a;
    transform: translateY(-3px);
  }
  
  .chat-btn:active {
    transform: translateY(1px);
  }
  

  .chat-btn:hover {
    transform: scale(1.05);
  }

.aussi{
    font-family: 'Georgia', serif;
    font-size: 100px;
    color: #ffffff;
    position: relative;
    top: 2400px;
    text-align: center;
}

#points {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 90px;
    color: #ffffff;
}

@keyframes jump {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0);
    }
}

#points {
    animation: jump 1s ease-in-out infinite;
}


.container3{
    position: absolute;
    top: 2600px;
    align-content: center;
    background-color: rgb(0, 0, 0);
    left: 75px;
    width: 1350px;
}

 .imgnew{
    position: absolute;
    z-index: 2;
    top: 75px;
    left: 85px;
 }

 .imgnew:hover {
    transition: 0.7s;
    transform:scale(1.4);
    cursor: grab;
}

.imgnew:hover + .new{
    transition: color 0.3s ease;
    transition: 0.5s;
    transform:scale(1.2);
    color: rgb(253, 171, 215);
    z-index: 2;
    background-color: rgba(27, 26, 26, 0.7);
    padding: 4px;
    border-radius: 12px;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30%;
    position: absolute;
    top: 335px;
    left: -35px;
    font-size: 12px;
}

.imgcollection{
    position: absolute;
    top: 82px;
    left: 570px;
}

.imgcollection:hover{
    transition: 0.7s;
    transform:scale(1.5);
    cursor: grab;
}

.imgcollection:hover + .collection{
    transition: color 0.3s ease;
    transition: 0.7s;
    transform:scale(1.2);
    color: #f1d6a8;
    background-color: rgba(27, 26, 26, 0.7);
    padding: 4px;
    border-radius: 12px;
}

.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30%;
    position: absolute;
    top: 335px;
    left: 450px;
    font-size: 12px;
}

.imgcollab{
    position: absolute;
    top: 75px;
    left: 1040px;
}

.imgcollab:hover{
    transition: 0.7s;
    transform:scale(1.5);
    cursor: grab;
}

.imgcollab:hover + .collab {
    transition: color 0.3s ease;
    transition: 1s;
    transform:scale(1.2);
    color: #969be5;
    background-color: rgba(27, 26, 26, 0.7);
    padding: 4px;
    border-radius: 12px;
}

.collab{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30%;
    position: absolute;
    top: 335px;
    left: 940px;
    font-size: 12px;
}

.incontournables{
    position: absolute;
    top: 2550px;
    left: 540px;
}

.histoire{
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    background-color: rgba(29, 29, 29, 0.628);
    width:25%;
    height: 100px;
    position: absolute;
    top: 1465px;
    left: 920px;
    box-sizing: border-box; 
    padding: 20px;
    border-radius: 1cm;
}


.depuis{
    width: 100%;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;                
    padding: 0px;              
    box-sizing: border-box;
    position: absolute;
    top: 25px;
    left: -5px;

}

.création{
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    width: 500px;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0px;               
    position: absolute;  
    top: 1650px; 
    left: 860px;     
}

.edition{
    position: absolute;
    top:3350px;
    left: 700px;
    text-decoration: underline;
}

.hour{
    position: absolute;
    top:3400px;
    background-color: #000000;
    transition: opacity 1s ease, transform 0.3s ease;
}

.soleil{
    position: absolute;
    top: 3000px;
    left: 330px;
    z-index: -1;
}

.été{
    position: absolute;
    top: 3900px;
    left: 500px;
    font-size: 35px;
}

.été:hover{
    cursor: grab;
    font-style: gras;
    transition: 1s ease-in-out, left 1s ease-in-out ;
}

.été::after {
    content: '';
    position: absolute;
    bottom: 0; left: 0; width: 0; height: 3px; 
    background-color: rgb(255, 255, 255);
    transition: 1s ease-in-out, left 1s ease-in-out;
}

.été:hover::after {
        width: 100%; 
        right: 0; 
}





footer {
    background-color: #2f2f2e;   
    text-align: center;         
    padding-top: 1px ; 
    padding-bottom: 1px;              
    width: 100%;                 
    position: relative;           
    top: 4000px;               
    font-size: 39px;
    font-weight: bold;
    padding: 40px;
}